@charset "UTF-8";
/* Html Ori
  ================================================*/
html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.9);
  font-family: "San Francisco", "PingFang TC", "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "WenQuanYi Micro Hei", "Roboto", sans-serif;
  max-width: 100%;
}

ul, dt, dd, dl, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  position: relative;
  display: inline-block;
  transition: .5s;
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active, a.active, a:not(:disabled):not(.disabled).active, a:not(:disabled):not(.disabled):active, a:not(:disabled):not(.disabled).active:hover, a:not(:disabled):not(.disabled):active:hover {
  outline: none;
  box-shadow: 0 0 0 transparent;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

input.input-style[type="checkbox"] + label::before,
input.input-style[type="radio"] + label::before, input.input-style[type="checkbox"]:checked + label::after,
input.input-style[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
}

#wrapper {
  overflow: auto;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.sidebar {
  background: #000000;
  width: 256px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  color: #ffffff;
  z-index: 2;
  transition: 0.5s;
}

.sidebar.hide {
  left: calc(-256px + 0.7rem);
}

.sidebar.hide .sidebar__toggle--btn {
  right: -10%;
}

.sidebar.hide .sidebar__toggle--btn::after {
  content: '\f054';
  left: 55%;
}

.sidebar__scroll {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.sidebar__scroll::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: none;
}

.sidebar__scroll::-webkit-scrollbar-track {
  border-radius: 0;
  margin: 0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
}

.sidebar__scroll::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: transparent;
  border: 2px solid transparent;
  box-shadow: inset 0 0 6px #4d4d4d;
}

.sidebar__scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar__scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #666666;
}

.sidebar__toggle {
  position: relative;
  width: 100%;
}

.sidebar__toggle--btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #707070;
  position: absolute;
  right: -3%;
  top: 1rem;
  z-index: 9;
  transition: 0.5s;
}

.sidebar__toggle--btn::after {
  content: '\f053';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.sidebar__project {
  padding: 15%;
}

.sidebar__project .img-box {
  height: 100px;
}

.sidebar__identify {
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.sidebar .sidebar__nav .nav-list:hover, .sidebar__nav .sidebar .nav-list:hover, .sidebar .sidebar__nav .nav-list.active, .sidebar__nav .sidebar .nav-list.active, .sidebar .sidebar__nav .nav-child__body > a:hover, .sidebar__nav .sidebar .nav-child__body > a:hover, .sidebar .sidebar__nav .nav-child__body > a.active, .sidebar__nav .sidebar .nav-child__body > a.active {
  background: linear-gradient(to right, rgba(77, 77, 77, 0.753) 0%, rgba(77, 77, 77, 0) 100%);
  color: #ffffff;
}

.sidebar__nav {
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.753);
}

.sidebar__nav i {
  margin-right: 0.5rem;
}

.sidebar__nav .nav-list {
  padding: 1.1rem 2rem;
  display: block;
}

.sidebar__nav .nav-child__header {
  cursor: default;
}

.sidebar__nav .nav-child__header:hover, .sidebar__nav .nav-child__header.active {
  background: transparent !important;
}

.sidebar__nav .nav-child__header::after {
  content: '▾';
  font-weight: 900;
  margin-left: 0.5rem;
}

.sidebar__nav .nav-child__body {
  height: 100%;
  transition: 0.5s;
}

.sidebar__nav .nav-child__body > a {
  display: block;
  padding: 0.7rem 2rem 0.7rem 3.7rem;
}

main.main {
  width: calc(100% - 256px);
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 1;
}

main.main.hide {
  width: calc(100% - 0.7rem);
}

main.main .main__content {
  padding: 3.5rem 2.5rem;
  min-width: 650px;
}

.page-ttl {
  font-weight: bold;
  margin-bottom: 2rem;
}

.page-subttl {
  font-size: 1.1rem;
  color: #000000;
}

.page-subttl::before {
  content: '●';
  color: #000000;
  margin-right: 0.3rem;
  font-size: 1.3rem;
}

.content-wrap {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.8rem #ebebeb;
  padding: 0.8rem 1rem;
}

.content-wrap.for-tab {
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}

.table-default {
  font-size: 0.9rem;
  text-align: center;
}

.table-default thead tr,
.table-default thead th {
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #f3f3f3;
}

.table-default th, .table-default td {
  border: 1px solid rgba(234, 234, 234, 0.99);
  padding: 0.5rem 0.7rem;
}

.table-default .nocenter {
  text-align: left;
}

#loginPage {
  background: #000000;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

#loginPage h2 {
  margin-bottom: 5%;
  font-weight: bold;
}

#loginPage .img-box {
  width: 30%;
  max-width: 250px;
}

#loginPage .img-box img {
  width: 100%;
  height: auto;
}

#loginPage .form-wrap {
  width: 80%;
  max-width: 350px;
  margin-bottom: 0;
}

#loginPage input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #139966;
  border-radius: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none;
  margin-bottom: 2rem;
  color: #ffffff;
}

#loginPage .show_pw {
  background: url(../img/icon-eye.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 11px;
  width: 20px;
}

#loginPage .show_pw.active {
  background: url(../img/icon-eye-close.svg) no-repeat center center/contain;
}

.page-link {
  color: inherit;
}

.page-item.active .page-link {
  color: #fff;
  border: 1px solid transparent;
  background-color: #139966;
}

.page-link:focus {
  box-shadow: none;
}

.table-style {
  font-size: 0.9rem;
}

.table-style thead tr,
.table-style thead th {
  letter-spacing: 1px;
  text-transform: capitalize;
  border: none;
  background: #f3f3f3;
}

.table-style tbody tr,
.table-style tbody th {
  transition: 0.5s;
  cursor: default;
}

.table-style th,
.table-style td {
  padding: 1.1rem 0.7rem;
  vertical-align: middle;
}

.table-style .far, .table-style .fas {
  font-size: 1.2rem;
}

table.dataTable tbody tr:hover {
  color: #139966;
}

div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_filter label {
  height: 36px;
}

div.dataTables_filter label {
  margin-right: 0.5rem;
  margin-bottom: 0;
}

div.dataTables_filter .form-control:focus {
  border-color: #139966;
  box-shadow: 0 0 0 0.2rem rgba(19, 153, 102, 0.2);
}

div.dataTables_wrapper div.dataTables_filter label {
  min-height: 36px;
  height: 100%;
}

.dataTables_scrollBody::-webkit-scrollbar {
  height: 8px;
  -webkit-appearance: none;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
}

/* components__nav
  =======================================================*/
body.nav-open {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

.navbg {
  background: #000000;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 97;
}

@media screen and (max-width: 1200px) {
  .navbg.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    background: #000000;
    z-index: 100;
  }
}

.nav-wrap {
  padding: 0 10%;
}

@media screen and (max-width: 1200px) {
  .nav-wrap {
    padding: 0 5%;
  }
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.nav__menu a {
  cursor: pointer;
  transition: 0.1s;
}

@media screen and (max-width: 1200px) {
  .nav__menu img {
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav__menu img {
    height: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .nav__menu {
    width: 100%;
    padding: 12px 0;
  }
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

@media screen and (max-width: 1200px) {
  .nav__list {
    z-index: 8;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
    transition: 0.5s;
  }
  .nav__list.open {
    width: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__list > li {
  position: relative;
}

.nav__list > li > a {
  padding: 25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  transition: width 1s, 1s;
}

.nav__list > li > a::after {
  content: "";
  width: 0;
  height: 0;
  background: #139966;
  display: block;
  position: absolute;
  bottom: 30%;
  transition: width 0.3s;
}

@media screen and (min-width: 1201px) {
  .nav__list > li:hover > a::after, .nav__list > li.active > a::after {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    transition: width 0.3s;
    background: #139966;
  }
}

.nav__list .nav-icon {
  position: relative;
}

.nav__list .nav-icon::before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 0.6rem;
  transform: translateY(2px);
}

.nav__list .nav-icon1::before {
  background: url(../img/icon-01_white.png) no-repeat center center/contain;
}

.nav__list .nav-icon2::before {
  background: url(../img/icon-02_white.png) no-repeat center center/contain;
}

.nav__list .nav-icon3::before {
  background: url(../img/icon-03_white.png) no-repeat center center/contain;
}

.nav__empty {
  width: 112px;
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 1200px) {
  .mobile-show {
    display: block;
  }
}

.mobile-hide {
  display: block;
}

@media screen and (max-width: 1200px) {
  .mobile-hide {
    display: none;
  }
}

.btn-menu {
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

@media screen and (max-width: 1200px) {
  .btn-menu {
    display: block;
    padding: 0.9rem 0.7rem;
    border-radius: 0.4rem;
  }
}

.btn-menu__line {
  position: relative;
  width: 26px;
  height: 18px;
}

.btn-menu__line > span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #139966;
  transition: 0.3s;
  border-radius: 99rem;
}

.btn-menu__line > span:nth-of-type(2) {
  top: 9px;
}

.btn-menu__line > span:nth-of-type(3) {
  top: 18px;
}

.btn-menu__line.active > span:nth-of-type(1) {
  height: 4px;
  transform: translateY(9px) rotate(45deg);
}

.btn-menu__line.active > span:nth-of-type(2) {
  opacity: 0;
}

.btn-menu__line.active > span:nth-of-type(3) {
  height: 4px;
  transform: translateY(-9px) rotate(-45deg);
}

/* components__img
  =======================================================*/
.img-box {
  width: 100%;
  height: auto;
}

.img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-box__cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* components__button
  =======================================================*/
.btn {
  border-radius: 0.5rem;
  padding: 5px 15px;
  font-weight: 500;
}

.btn-primary {
  border-color: #000000;
  background-color: #000000;
  color: #fff;
  border-width: 1px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active:hover, .btn-primary:not(:disabled):not(.disabled):active:hover {
  border-color: #1a1a1a;
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.btn-primary.btn-sm {
  font-size: 0.95rem;
}

.btn-secondary {
  border-color: #fff;
  border-radius: 0.5rem;
  background-color: #139966;
  color: #fff;
  border-width: 2px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  min-width: 250px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active:hover, .btn-secondary:not(:disabled):not(.disabled):active:hover {
  border-color: #fff;
  background-color: #16b075;
  color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
}

/* components__form
  =======================================================*/
.input-style {
  display: block;
  width: 100%;
  outline: none;
  font-size: 1.05rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid rgba(179, 179, 179, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.input-style::-webkit-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style:-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style::-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style::placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style:disabled {
  background: rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.input-style:focus, .input-style.focus {
  outline: 0;
  border-color: #262626;
}

select.input-style {
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
  background: url(../img/select-down.svg) no-repeat calc(100% - 7px) center #fff;
  background-size: auto 35%;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.375rem 1rem 0.375rem 0.75rem;
  color: transparent;
  background: url(../img/select-down.svg) no-repeat calc(100% - 7px) center transparent;
  background-size: auto 35%;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

input[type="file"] {
  opacity: 0;
  pointer-events: none;
  width: 0;
}

.upload-label {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1.2rem;
}

.showFileName {
  font-size: 0.85rem;
}

.label-style {
  margin-bottom: 0;
  font-weight: 500;
}

input.input-style[type="checkbox"],
input.input-style[type="radio"] {
  display: none;
}

input.input-style[type="checkbox"] + label,
input.input-style[type="radio"] + label {
  position: relative;
  padding-left: 25px;
}

input.input-style[type="checkbox"] + label::before,
input.input-style[type="radio"] + label::before {
  background: url(../img/cust_check.svg) no-repeat;
}

input.input-style[type="checkbox"]:checked + label::after,
input.input-style[type="radio"]:checked + label::after {
  background: url(../img/cust_checked.svg) no-repeat;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  border-color: #000000;
  background-color: #000000;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #000000;
}

.show_pw {
  background: url(../img/icon-eye.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 11px;
}

.show_pw.active {
  background: url(../img/icon-eye-close.svg) no-repeat center center/contain;
}

.onoffswitch {
  position: relative;
  width: 40px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.9);
  border-radius: 20px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0px;
  background: rgba(128, 128, 128, 0.9);
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 21px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #000000;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #000000;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 2px;
  background: #fff;
}

/* components__JQ vaildate
  =======================================================*/
input.error,
.input-style.error {
  border-color: #FF0000;
}

p.error {
  color: #FF0000;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 2px;
}

p.error::before {
  content: "";
  background: url(../img/notice.svg) no-repeat center center/contain;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  transform: translateY(1px);
}

.error-wrap {
  margin-top: -0.8rem;
}

#sGroups-error:not(:first-of-type) {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

/* components__loader
  ================================================*/
body.loader-open {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

body.loader-open .loader {
  display: -ms-flexbox;
  display: flex;
}

.loader,
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 9999;
}

.loader {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fffdf4;
}

.loading {
  background: rgba(0, 0, 0, 0.9);
  color: #cac9c9;
}

.loader__style--1 {
  width: 30px;
  height: 30px;
  border-top: 2px solid #fffdf4;
  border-right: 2px solid transparent;
  border-radius: 99rem;
  animation: loader-rotate 1s infinite linear;
  margin: 0 auto;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* components__BS4 Modal
  =======================================================*/
.modal .btn-primary {
  min-width: auto;
}

.modal-scroll .modal-dialog {
  height: calc(100% - 5rem);
}

@media screen and (max-width: 575px) {
  .modal-scroll .modal-dialog {
    height: calc(100% - 1rem);
  }
}

.modal-scroll .modal-content {
  max-height: 70%;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .modal-scroll .modal-content {
    max-height: 90%;
  }
}

.modal-scroll .modal-body {
  overflow-y: auto;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.modal-scroll .modal-footer {
  -ms-flex-pack: center;
      justify-content: center;
  border-top: 0;
}

/* components__swiper
  =======================================================*/
.swiper-outer {
  position: relative;
}

.swiper-tools {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: clamp(1.5rem, 2%, 1.8rem);
}

.swiper-tools * {
  position: relative;
}

.swiper-container {
  padding-bottom: 0.8rem;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: url(../img/btn_left.png) no-repeat center center/contain;
  outline: none;
  margin-right: 1rem;
}

.swiper-button-prev::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .swiper-button-prev {
    width: 28px;
    height: 28px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  background: url(../img/btn_right.png) no-repeat center center/contain;
  outline: none;
  margin-left: 1rem;
}

.swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .swiper-button-next {
    width: 28px;
    height: 28px;
  }
}

.swiper-pagination {
  width: 100px;
}

/* Components
=======================================================*/
/* page extend
=======================================================*/
/* Components
=======================================================*/
.text-link {
  color: #2687ff;
}

.text-link:hover {
  color: #006cf2;
  text-decoration: underline;
}

.color-secondary {
  color: #139966;
}

.dategroup {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-align: center;
      align-items: center;
}

.dategroup__input {
  width: 170px;
}

.gj-datepicker-bootstrap [role=right-icon] button {
  border: 1px solid rgba(179, 179, 179, 0.9);
}

.total-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.total {
  border-radius: 0.5rem;
  width: 18%;
  min-width: 170px;
  padding: 0.5rem 1rem;
  color: rgba(102, 102, 102, 0.9);
  margin-right: 1rem;
  background: rgba(242, 242, 242, 0.9);
  margin-bottom: 1rem;
}

.total__people {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 0.5rem;
}

.total__people::after {
  content: '人';
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.3rem;
}

.notify {
  position: fixed;
  z-index: 1999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.notify.show {
  display: block;
}

.notify__content {
  background: #fff;
  border-radius: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  width: 70%;
  max-width: 300px;
}
