/* Html Ori
  ================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap");
html {
  font-size: clamp(14px, 4vmin, 20px);
  width: 100%;
  overflow-x: hidden;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  max-width: 100%;
}

ul, dt, dd, dl, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  position: relative;
  display: inline-block;
  transition: .5s;
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active, a.active, a:not(:disabled):not(.disabled).active, a:not(:disabled):not(.disabled):active, a:not(:disabled):not(.disabled).active:hover, a:not(:disabled):not(.disabled):active:hover {
  outline: none;
  box-shadow: 0 0 0 transparent;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.bg-img::before {
  content: " ";
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}

/* components__img
  =======================================================*/
.img-box {
  width: 100%;
  height: auto;
}

.img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-box__cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* components__button
  =======================================================*/
.btn {
  border-radius: 0.5rem;
  padding: 5px 15px;
  font-weight: 500;
}

.btn-primary {
  border-color: #11CFE7;
  background-color: #11CFE7;
  color: #fff;
  border-width: 1px;
  min-width: 230px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active:hover, .btn-primary:not(:disabled):not(.disabled):active:hover {
  border-color: #3adcf1;
  background-color: #3adcf1;
  color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(17, 207, 231, 0.2);
}

.btn-secondary {
  border-color: #fff;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-width: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  min-width: 250px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active:hover, .btn-secondary:not(:disabled):not(.disabled):active:hover {
  border-color: #fff;
  background-color: rgba(13, 13, 13, 0.9);
  color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
}

.btn-more {
  color: #11CFE7;
  text-decoration: underline;
  font-size: 0.8rem;
}

.btn-more:hover {
  text-decoration: none;
  color: #3adcf1;
}

@media screen and (max-width: 575px) {
  .btn-more {
    font-size: 1rem;
  }
}

/* components__form
  =======================================================*/
.input-style {
  display: block;
  width: 100%;
  outline: none;
  font-size: 1.05rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none;
  background: rgba(230, 230, 230, 0.9);
  border-radius: 0;
  border: none;
  color: rgba(0, 0, 0, 0.9);
}

.input-style::-webkit-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style:-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style::-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style::placeholder {
  color: rgba(102, 102, 102, 0.9);
}

.input-style:disabled {
  background: rgba(128, 128, 128, 0.5);
  color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.input-style:focus, .input-style.focus {
  outline: 0;
  border-color: #52e0f2;
}

select.input-style {
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
  background: url(../img/select-down.svg) no-repeat calc(100% - 7px) center #fff;
  background-size: auto 35%;
}

.label-style {
  margin-bottom: 0;
  font-weight: 500;
}

.show_pw {
  background: url(../img/icon-eye.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 11px;
}

.show_pw.active {
  background: url(../img/icon-eye-close.svg) no-repeat center center/contain;
}

.input-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.input-flex label {
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 992px) {
  .input-flex {
    display: block;
  }
}

input[type="radio"]:checked + label .fake-radio::after,
input[type="checkbox"]:checked + label .fake-radio::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.9);
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fake-radio {
  border: 1px solid rgba(0, 0, 0, 0.9);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  transform: translateY(2px);
  position: relative;
}

/* components__JQ vaildate
  =======================================================*/
input.error,
.input-style.error {
  border-color: #FF0000;
}

p.error {
  color: #FF0000;
  font-weight: 500;
  font-size: 13px;
  margin-top: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#contact-error, #agree-error {
  position: relative;
  bottom: auto;
}

@media screen and (max-width: 992px) {
  #contact-error, #agree-error {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  }
}

/* components__loader
  ================================================*/
body.loader-open {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

body.loader-open .loader {
  display: -ms-flexbox;
  display: flex;
}

.loader,
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 9999;
}

.loader {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fffdf4;
}

.loading {
  background: rgba(0, 0, 0, 0.9);
  color: #cac9c9;
}

.loader__style--1 {
  width: 30px;
  height: 30px;
  border-top: 2px solid #fffdf4;
  border-right: 2px solid transparent;
  border-radius: 99rem;
  animation: loader-rotate 1s infinite linear;
  margin: 0 auto;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* components__BS4 Modal
  =======================================================*/
.modal .btn-primary {
  min-width: auto;
}

.modal-scroll .modal-dialog {
  height: calc(100% - 5rem);
}

@media screen and (max-width: 575px) {
  .modal-scroll .modal-dialog {
    height: calc(100% - 1rem);
  }
}

.modal-scroll .modal-content {
  max-height: 70%;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .modal-scroll .modal-content {
    max-height: 90%;
  }
}

.modal-scroll .modal-body {
  overflow-y: auto;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.modal-scroll .modal-footer {
  -ms-flex-pack: center;
      justify-content: center;
  border-top: 0;
}

/* components__swiper
  =======================================================*/
.swiper-outer {
  position: relative;
}

.swiper-tools {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: clamp(1.5rem, 2%, 1.8rem);
}

.swiper-tools * {
  position: relative;
}

.swiper-container {
  padding-bottom: 0.8rem;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: url(../img/btn_left.png) no-repeat center center/contain;
  outline: none;
  margin-right: 1rem;
}

.swiper-button-prev::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .swiper-button-prev {
    width: 28px;
    height: 28px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  background: url(../img/btn_right.png) no-repeat center center/contain;
  outline: none;
  margin-left: 1rem;
}

.swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 575px) {
  .swiper-button-next {
    width: 28px;
    height: 28px;
  }
}

.swiper-pagination {
  width: 100px;
}

/* Components
=======================================================*/
/* page extend
=======================================================*/
/* Components
=======================================================*/
ul, ol {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

ul li, ol li {
  margin-bottom: 0.25rem;
}

ul.list {
  list-style: disc;
}

.container-fluid.w-1550 {
  max-width: 1550px;
}

.container-fluid.w-1280 {
  max-width: 1280px;
}

.container-fluid.w-960 {
  max-width: 960px;
}

.color-main {
  color: #11CFE7;
}

.color-secondary {
  color: #F3981C;
}

.color-notice {
  color: #FF0000;
}

.bg-color {
  background: #FEF5E8;
}

.bg-pattern {
  background: url(../img/bk.png) repeat-y center top/100%;
}

.font-22 {
  font-size: 1.1rem;
  font-weight: bold;
}

.text-link {
  color: #2687ff;
}

.text-link:hover {
  color: #006cf2;
  text-decoration: underline;
}

.text-md {
  font-size: 0.9rem;
}

.text-sm {
  font-size: 0.8rem;
}

.logo2 {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  width: 20%;
  max-width: 80px;
}

.colse-modal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  outline: none;
  box-shadow: 0 0 0 transparent !important;
  z-index: 99;
  font-size: 1.2rem;
}

.bg-img {
  position: relative;
  min-height: 100%;
}

.bg-img::before {
  background: url(../img/bg.jpg) center center/cover no-repeat;
}

.layout-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.nav-top {
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem 2rem;
}

.nav-top img {
  width: 300px;
}

.main {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.8rem 1.5rem 1rem;
}

.toolbar__icons > a, .toolbar__icons > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 0.8rem;
}

@media screen and (max-width: 575px) {
  .toolbar__icons > a, .toolbar__icons > div {
    width: 22px;
    height: 22px;
  }
}

.toolbar__logo {
  width: 80px;
}

.notify {
  position: fixed;
  z-index: 1999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.notify.show {
  display: block;
}

.notify__content {
  background: #fff;
  border-radius: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  width: 70%;
  max-width: 300px;
}

.main-vision {
  text-align: center;
  max-width: 932px;
  width: 60%;
  margin-top: 2.5rem;
}

@media screen and (max-width: 1440px) {
  .main-vision {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-vision {
    padding: 0 1rem;
    width: 90%;
  }
}

.main-vision .vision {
  width: 100%;
}

.main-vision .vision-btn {
  width: 40%;
  margin: 0 auto;
  padding: 0.6rem 0.8rem;
  border: 2px solid #fff;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 3rem;
  min-width: 230px;
  cursor: pointer;
  transition: 0.5s;
}

.main-vision .vision-btn:hover {
  background: #fff;
  color: #1f215c;
}

.q2, .q3 {
  display: none;
}

._q {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}

._q > img {
  width: 250px;
}

._q p {
  font-size: 2.5vw;
  color: #fff;
  transform: translateY(-10px);
}

@media screen and (max-width: 575px) {
  ._q {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 2rem;
  }
  ._q > img {
    width: 120px;
    margin-bottom: 1.5rem;
  }
  ._q p {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
  ._q br {
    display: none;
  }
}

._a {
  text-align: center;
}

.btn-answer {
  padding: 0.6rem 0.8rem;
  border: 2px solid #fff;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.8rem;
  width: 320px;
  display: block;
  margin: 1rem auto;
}

.btn-answer:hover {
  background: #fff;
  color: #1f215c;
}

@media screen and (max-width: 575px) {
  .btn-answer {
    font-size: 1.5rem;
    width: 280px;
  }
}

.form-wrap {
  width: 90%;
  margin: 3rem auto 2rem;
}

.level {
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.level span {
  margin-left: 1rem;
  letter-spacing: 0.5rem;
  color: #11CFE7;
}

.product-list {
  color: #fff;
  margin-bottom: 2rem;
}

.product-list ul {
  list-style: disc;
  font-size: 0.8rem;
  opacity: 0.7;
}

.modal .product-list {
  color: rgba(0, 0, 0, 0.9);
}

.product-img-box {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 14vh;
}
